asgiref
backcall
beautifulsoup4
certifi
cffi
chardet
colorama
cryptography
decorator
defusedxml
Django
django-allauth
django-crispy-forms
django-extensions
django-markdownx
idna
ipython
ipython-genutils
jedi
Markdown
oauthlib
parso
pickleshare
Pillow
prompt-toolkit
pycparser
Pygments
PyJWT
python3-openid
pytz
requests
requests-oauthlib
soupsieve
sqlparse
traitlets
urllib3
wcwidth
crispy-bootstrap4
psycopg2-binary
gunicorn